.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  padding: 2rem 30%;
}

.section-header {
  margin: 10px 0;
}

.chat-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 500px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px 10px;
  text-decoration: none;
  color: black;
  margin: 10px 0;
}

.hidden {
  display: none;
}

.nav {
  position: sticky;
}

.createGroupBtn {
  border: 1px solid #222;
  padding: 15px 30px;
  border-radius: 10px;
  color: #222;
  font-weight: bold;
  font-size: 1.1rem;
  width: 30%;
}
